<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <section>
                <div class="header-logo">Laboratory Reporting</div>
                <div class="header-menu">
                    <ul>
                        <a th:href="@{home}" ><li>Home</li></a>
                        <a th:href="@{myReports}" ><li>My Reports</li></a>
                        <a th:href="@{reports}" ><li>Reports</li></a>
                        <a th:href="@{patients}" ><li>Patients</li></a>
                    </ul>
                </div>
                <div class="header-profile">
                    <a th:href="@{profile}" >
                        <i class="fa-regular fa-user"></i>
                        Profile
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="main">
    <a th:href="@{myReports}" >
        <div class="myReports-card">
            <div><i class="fa-light fa-hospital-user"></i></div>
            <div>My Reports</div>
        </div>
    </a>
    <a th:href="@{reports}" >
        <div class="reports-card">
            <div><i class="fa-light fa-file-chart-column"></i></div>
            <div>Reports</div>
        </div>
    </a>

    <a th:href="@{patients}" >
        <div class="patients-card">
            <div><i class="fa-light fa-bed"></i></div>
            <div>Patients</div>
        </div>
    </a>

    <a th:href="@{profile}" >
        <div class="profile-card">
            <div><i class="fa-light fa-user"></i></div>
            <div>Profile</div>
        </div>
    </a>

</div>

<footer>
    <div class="footer-logo">
        <a th:href="@{home}"></a>
        Laboratory Reporting</div>
    <div></div>
</footer>
</body>
</html>