<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raporlarım</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <section>
                <div class="header-logo">Laboratory Reporting</div>
                <div class="header-menu">
                    <ul>
                        <a th:href="@{home}" ><li>Home</li></a>
                        <a th:href="@{myReports}" ><li>My Reports</li></a>
                        <a th:href="@{reports}" ><li>Reports</li></a>
                        <a th:href="@{patients}" ><li>Patients</li></a>
                    </ul>
                </div>
                <div class="header-profile">
                    <a th:href="@{profile}" >
                        <i class="fa-regular fa-user"></i>
                        Profile
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="myReports" th:each="report : ${reports}" th:key="${report.reportId}">
    <a th:href="@{reportDetail}" @click.prevent="onPressedReportDetail(report.reportId)">
        <div class="report-item">
            <div class="reportImage"><img th:src="${report.reportImage}" alt=""></div>
            <div class="report-information">
                <div class="file-number">
                    File number: <span th:text="${report.fileNo}"></span>
                </div>
                <div class="diagnosisMade">
                    Diagnosis Made: <span th:text="${report.diagnosisMade}"></span>
                </div>
                <div class="reportDate">
                    Report Date: <span th:text="${report.reportDate}"></span>
                </div>
                <div class="patientTC">
                    Patient TC: <span th:text="${report.patientTC}"></span>
                </div>
                <div class="patientName">
                    Patient Name: <span th:text="${report.patientFirstName + ' ' + report.patientLastName}"></span>
                </div>
            </div>
        </div>
    </a>
</div>


<footer>
    <div class="footer-logo">
        <a th:href="@{home}">Laboratory Reporting</a></div>
    <div></div>
</footer>

</body>
</html>