<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hastalar</title>
    <link th:href="@{/static/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <section>
                <div class="header-logo">Laboratory Reporting</div>
                <div class="header-menu">
                    <ul>
                        <a th:href="@{/web/home}" ><li>Home</li></a>
                        <a th:href="@{/web/myReports}" ><li>My Reports</li></a>
                        <a th:href="@{/web/reports}" ><li>Reports</li></a>
                        <a th:href="@{/web/patients}" ><li>Patients</li></a>
                    </ul>
                </div>
                <div class="header-profile">
                    <a th:href="@{profile}" >
                        <i class="fas fa-user"></i>
                        Profile
                    </a>
                    <a th:href="@{/web/logout}" >Çıkış Yap</a>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="elemanter-container">
    <div class="elemanter-row">
<div class="patients">
    <div class="patient-item" th:each="patient : ${patients}" th:key="${patient.patientTC}">
        <a th:href="@{/web/patients/{patientId}(patientId=${patient.patientId})}" th:with="patientId=${patient.patientId}">
        <div class="patient-information">
                <div class="form-text">
                    Patient TC: <span th:text="${patient.patientTC}"></span>
                </div>
                <div class="form-text">
                    Patient Name: <span th:text="${patient.patientFirstName}"></span>
                </div>
                <div class="form-text">
                    Patient Surname: <span th:text="${patient.patientLastName}"></span>
                </div>
            </div>
        </a>
    </div>
</div>
</div>
</div>
<footer>
    <div class="footer-logo">
        <a th:href="@{home}">Laboratory Reporting</a>
    </div>
    <div></div>
</footer>

</body>
</html>