<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Rapor detay</title>
    <link th:href="@{/static/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <section>
                <div class="header-logo">Laboratory Reporting</div>
                <div class="header-menu">
                    <ul>
                        <a th:href="@{home}" ><li>Home</li></a>
                        <a th:href="@{myReports}" ><li>My Reports</li></a>
                        <a th:href="@{reports}" ><li>Reports</li></a>
                        <a th:href="@{patients}" ><li>Patients</li></a>
                    </ul>
                </div>
                <div class="header-profile">
                    <a th:href="@{profile}" >
                        <i class="fas fa-user"></i>
                        Profile
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="report-detail">
    <div class="report-detail-container">
        <div class="report-detail-row">
            <div class="report-information">
                <form th:action="@{/web/patientUpdate/{patientId}(patientId=${patient.patientId})}"
                      th:object="${newPatient}"
                      method="post" enctype="multipart/form-data">
                <div class="form-text">
                    Patient TC:
                    <input type="text"  id="patientTC" name="patientTC">
                </div>
                <div class="form-text">
                    Patient First Name:
                    <input type="text"  id="patientFirstName" name="patientFirstName">
                </div>
                <div class="form-text">
                    Patient Last Name:
                    <input type="text" id="patientLastName" name="patientLastName">
                </div>
            </div>
            <div>
                <button class="button" type="submit">Düzenle</button>
            </div>
            </form>
        </div>
    </div>

</div>

<footer>
    <div class="footer-logo">
        <a th:href="@{home}">
            Laboratory Reporting
        </a>
    </div>
    <div></div>
</footer>


</body>
</html>