<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link th:href="@{/static/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a9529d224a.css" />
    <script src="https://kit.fontawesome.com/a9529d224a.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="header-logo navbar-brand"  th:href="@{/web/home}">Laboratory Reporting</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="header-menu collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" th:href="@{/web/home}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/web/myReports}">My Reports</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/web/reports}">Reports</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/web/patients}">Patients</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu header-profile" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/web/profile}">
                                    <i class="fas fa-user"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" th:href="@{/web/logout}">Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="profile profile-update">

    <div class="profile-information-button">
        <div class="profile-image" th:if="${false}" v-if="imageUrl"><img v-show="imageUrl" :src="imageUrl"/></div>
        <div class="profile-image" th:else ><img src="/static/images/profileAvatar.png" alt="Profile avatar"></div>
        <div class="profile-information">
            <form th:action="@{/web/profileUpdate/{userId}(userId=${userId})}"
                  th:object="${newUser}"
                  method="post" enctype="multipart/form-data">
            <ul>
                <li>Name:
                    <input type="text" name="userFirstName" id="userFirstName">
                </li>
                <li>Lastname:
                    <input type="text" name="userLastName" id="userLastName">
                </li>
                <li>User name:
                    <input type="text" name="userName" id="userName">
                </li>
                <li>User TC:
                    <input type="text" name="userTC" id="userTC">
                </li>
                <li>User Email:
                    <input type="text" name="email" id="email">
                </li>
                <li>User photo:
                    <!-- <input type="text" name="" id=""> -->
                    <input class="form-control" type="file" id="userImageFile" name="userImageFile" @change="handleFileChange">
                </li>
                <li>User role:
                    <input  v-model="updateUser.roleId" type="text" name="roleId" id="roleId">
                </li>
                <li>User password:
                    <input  v-model="updateUser.password" type="text" name="password" id="password">
                </li>
                <li>
                    <div class="position-right">
                        <button class="button" type="submit">Düzenle</button>
                    </div>
                </li>
            </ul>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="footer-logo">
        <a th:href="@{/web/home}">
            Laboratory Reporting
        </a>
    </div>
    <div></div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>