<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rapor Ekleme</title>
    <link th:href="@{/static/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <section>
                <div class="header-logo">Laboratory Reporting</div>
                <div class="header-menu">
                    <ul>
                        <a th:href="@{/web/home}" ><li>Home</li></a>
                        <a th:href="@{/web/myReports}" ><li>My Reports</li></a>
                        <a th:href="@{/web/reports}" ><li>Reports</li></a>
                        <a th:href="@{/web/patients}" ><li>Patients</li></a>
                    </ul>
                </div>
                <div class="header-profile">
                    <a th:href="@{profile}" >
                        <i class="fas fa-user"></i>
                        Profile
                    </a>
                    <a th:href="@{/web/logout}" >Çıkış Yap</a>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="report-detail">
    <div class="report-detail-container">
        <div class="report-detail-row">
            <div><img :src="this.reportDetail.reportImage" alt=""></div>
            <div class="report-information">
                <form th:action="@{/web/createReport/{patientId}(patientId=${patientId})}"
                      th:object="${newReportRequest}" method="post" enctype="multipart/form-data">
                    <div class="form-text">
                        File No:
                        <input type="text" name="fileNo" id="fileNo">
                    </div>
                <div class="form-text">
                    Diagnosis Made:
                    <input type="text" name="diagnosisMade" id="diagnosisMade">
                </div>
                <div class="form-text">
                    Diagnosis Detail:
                    <input type="text" name="diagnosisDetail" id="diagnosisDetail" >
                </div>
                    <div class="form-text">
                        Rapor Tarihi:
                        <input type="text" name="reportDate" id="reportDate">
                    </div>
                <div class="form-text">
                    Rapor fotoğrafı:
                    <input class="form-control" type="file" id="reportImageFile" name="reportImageFile">
                </div>
                    <div>
                        <button class="button" type="submit">Ekle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<footer>
    <div class="footer-logo">
        <a th:href="@{home}">
            Laboratory Reporting
        </a>
    </div>
    <div></div>
</footer>

</body>
</html>