<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rapor detay</title>
    <link th:href="@{/static/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="header">
    <div class="elemanter-container">
        <div class="elemanter-row">
            <section>
                <div class="header-logo">Laboratory Reporting</div>
                <div class="header-menu">
                    <ul>
                        <a th:href="@{home}" ><li>Home</li></a>
                        <a th:href="@{myReports}" ><li>My Reports</li></a>
                        <a th:href="@{reports}" ><li>Reports</li></a>
                        <a th:href="@{patients}" ><li>Patients</li></a>
                    </ul>
                </div>
                <div class="header-profile">
                    <a th:href="@{profile}" >
                        <i class="fas fa-user"></i>
                        Profile
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="report-detail">
    <div class="report-detail-container">
        <div class="report-detail-row">
            <div th:if="${false}"><img th:src="|data:image/jpeg;base64,${report.reportImage}|" alt="Report Image"></div>
            <div><img th:src="@{'data:image/png;base64,' + ${#strings.toString(base64Image)}}" alt="Report Image"></div>
            <div class="report-information">
                <div class="form-text">
                    File number: <span th:text="${report.fileNo}"></span>
                </div>
                <div class="form-text">
                    Diagnosis Made: <span th:text="${report.diagnosisMade}"></span>
                </div>
                <div class="form-text">
                    Diagnosis Detail: <span th:text="${report.diagnosisDetail}"></span>
                </div>
                <div class="form-text">
                    Report Date: <span th:text="${report.reportDate}"></span>
                </div>
                <div class="form-text">
                    Patient TC: <span th:text="${report.patientTC}"></span>
                </div>
                <div class="form-text">
                    Patient Name: <span th:text="${report.patientFirstName}"></span> <span th:text="${report.patientLastName}"></span>
                </div>
            </div>
            <div class="d-flex">
                <form th:action="@{/web/reportDelete/__${report.reportId}__}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="button" type="submit" onclick="return confirm('Bu raporu silmek istediğinizden emin misiniz?')">Raporu Sil</button>
                </form>
                <a class="button" th:href="@{/web/reportUpdate/{reportId}(reportId=${reportId})}" th:with="reportId=${report.reportId}">Düzenle</a>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="footer-logo">
        <a th:href="@{home}">
            Laboratory Reporting
        </a>
    </div>
    <div></div>
</footer>


</body>
</html>